*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
body {
    background: linear-gradient(45deg, rgba(133, 155, 71, 0.746),rgba(13, 12, 107, 0.65),rgba(4, 4, 241, 0.788));
    background-repeat: no-repeat;
    height: 100vh;
}

.main-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px groove #fff;
    width: 1200px;
    height: 600px;
    border-radius: 10px 40px 10px 40px;
    box-shadow: 0px 0px 10px 10px rgba(63, 61, 61, 0.596);
    -webkit-border-radius: 10px 40px 10px 40px;
    -moz-border-radius: 10px 40px 10px 40px;
    -ms-border-radius: 10px 40px 10px 40px;
    -o-border-radius: 10px 40px 10px 40px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.container {

}

.name {
    color: #fff;
    font-size: 36px;
}
#level {
    padding: 10px 50px;
    font-size: 24px;
}
.main-section-item {
    list-style-type: none;
    
}
.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
}

.form-control {
    text-align: center;
}
.random-text {
    user-select: none;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-size: 48px;
    background: -webkit-linear-gradient(rgba(0, 255, 115, 0.877), rgb(255, 166, 0), rgb(214, 11, 214));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-text {
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
    padding: 30px 80px;
    font-size: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.time {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-size: 36px;
    background: -webkit-linear-gradient(rgba(77, 76, 76, 0.418),#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-section-item {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: #fff;
}
.again {
    display: flex;
    margin: 30px auto;
    padding: 20px 50px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    color: #fff;
    background-color: green;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.again:hover {
    background-color: #fff;
    color: green;
}
.again:active {
    background-color: green;
    color: #fff;
    opacity: 0.4;
}
.main-section-item {
    font-size: 36px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(34, 34, 34, 0.835);
}

.hidden {
    display: none;
}









@media(max-width:390px) {
    .main-section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 2px groove #fff;
        width: 300px;
        height: 600px;
        border-radius: 10px 40px 10px 40px;
        box-shadow: 0px 0px 10px 10px rgba(63, 61, 61, 0.596);
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .name {
        color: #fff;
        font-size: 16px;
    }

    .main-section-item {
        display: flex;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        color: #fff;
        font-size: 16px;
    }
    #level {
        width: 100px;
        height: 30px;
        font-size: 24px;
        margin-top: 20px;
        border: none;
        background-color: #fff;
        outline: none;
        padding: 5px 10px;
    }

    .input-text {
        margin-bottom: 40px;
        border: none;
        border-radius: 10px;
        padding: 15px 25px;
        -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:;
}
    .time {
        font-size: 24px;
    }
    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        width: 250px;
        height: 200px;
        border-radius: 10px;
        z-index: 100;
    }
    .again {
        display: flex;
        margin: 30px auto;
        padding: 8px 20px;
        font-size: 18px;
        border-radius: 5px;
    }
    .modal-section {
        display: block;
        text-align: center;
    }

}
/* @media(max-width:478px) {
    .main-section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 2px groove #fff;
        width: 380px;
        height: 700px;
        border-radius: 10px 40px 10px 40px;
        box-shadow: 0px 0px 10px 10px rgba(63, 61, 61, 0.596);
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .name {
        color: #fff;
        font-size: 30px;
        padding: 10px 20px;
    }

    .main-section-item {
        display: flex;
        text-align: center;
        font-weight: 600;
        margin-top: 30px;
        color: #fff;
        font-size: 30px;
    }
    #level {
        width: 150px;
        height: 50px;
        font-size: 24px;
        margin-top: 20px;
        border: none;
        background-color: #fff;
        outline: none;
    }

    .input-text {
        margin-bottom: 40px;
        border: none;
        border-radius: 10px;
        padding: 15px 25px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .time {
        font-size: 24px;
    }
    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        width: 250px;
        height: 200px;
        border-radius: 10px;
        z-index: 100;
    }
    .again {
        display: flex;
        margin: 30px auto;
        padding: 8px 20px;
        font-size: 18px;
        border-radius: 5px;
    }
    .modal-section {
        display: block;
        text-align: center;
    }

}

@media(max-width:576px) {
    .main-section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 2px groove #fff;
        width: 450px;
        height: 700px;
        border-radius: 10px 40px 10px 40px;
        box-shadow: 0px 0px 10px 10px rgba(63, 61, 61, 0.596);
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .name {
        color: #fff;
        font-size: 35px;
        padding: 10px 20px;
        margin-bottom: 20px;
    }

    .main-section-item {
        display: flex;
        text-align: center;
        font-weight: 600;
        margin-top: 30px;
        color: #fff;
        font-size: 30px;
    }
    #level {
        width: 150px;
        height: 50px;
        font-size: 24px;
        margin-top: 20px;
        border-radius: 5px;
        border: none;
        background-color: #fff;
        outline: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .input-text {
        margin-bottom: 40px;
        border: none;
        border-radius: 10px;
        padding: 25px 50px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .random-text {
        font-size: 50px;
    }
    .time {
        font-size: 30px;
    }
    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        z-index: 100;
    }
    .again {
        display: flex;
        margin: 30px auto;
        padding: 15px 35px;
        font-size: 24px;
        font-weight: 600;
        border-radius: 5px;
    }
    .modal-section {
        display: block;
        text-align: center;
    }

}


@media(max-width:768px) {
    .main-section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 2px groove #fff;
        width: 600px;
        height: 700px;
        border-radius: 10px 40px 10px 40px;
        box-shadow: 0px 0px 10px 10px rgba(63, 61, 61, 0.596);
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .name {
        color: #fff;
        font-size: 40px;
        padding: 10px 20px;
        margin-bottom: 20px;
    }

    .main-section-item {
        display: flex;
        text-align: center;
        font-weight: 600;
        margin-top: 30px;
        color: #fff;
        font-size: 35px;
    }
    #level {
        width: 220px;
        height: 60px;
        border-radius: 8px;
        font-size: 24px;
        margin-top: 20px;
        border: none;
        background-color: #fff;
        outline: none;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .input-text {
        margin-bottom: 40px;
        border: none;
        border-radius: 10px;
        padding: 25px 50px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .random-text {
        font-size: 55px;
    }
    .time {
        font-size: 30px;
    }
    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        z-index: 100;
    }
    .again {
        display: flex;
        margin: 30px auto;
        padding: 15px 35px;
        font-size: 24px;
        font-weight: 600;
        border-radius: 5px;
    }
    .modal-section {
        display: block;
        text-align: center;
    }

}



@media(max-width:992px) {
    .main-section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 2px groove #fff;
        width: 800px;
        height: 700px;
        border-radius: 10px 40px 10px 40px;
        box-shadow: 0px 0px 10px 10px rgba(63, 61, 61, 0.596);
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .name {
        color: #fff;
        font-size: 40px;
        padding: 10px 20px;
        margin-bottom: 20px;
    }

    .main-section-item {
        display: flex;
        text-align: center;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 50px;
        color: #fff;
        font-size: 30px;
    }
    #level {
        width: 220px;
        height: 60px;
        border-radius: 8px;
        font-size: 24px;
        margin-top: 20px;
        border: none;
        background-color: #fff;
        outline: none;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .input-text {
        margin-bottom: 40px;
        border: none;
        border-radius: 10px;
        padding: 25px 50px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .random-text {
        font-size: 55px;
    }
    .time {
        font-size: 30px;
    }
    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        width: 500px;
        height: 400px;
        border-radius: 10px;
        z-index: 100;
    }
    .again {
        display: flex;
        margin: 80px auto;
        padding: 15px 35px;
        font-size: 24px;
        font-weight: 600;
        border-radius: 5px;
    }
    .modal-section {
        display: block;
        text-align: center;
    }
    
}


@media(max-width:1200px) {
    .main-section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 2px groove #fff;
        width: 1100px;
        height: 750px;
        border-radius: 10px 40px 10px 40px;
        box-shadow: 0px 0px 10px 10px rgba(63, 61, 61, 0.596);
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .name {
        color: #fff;
        font-size: 50px;
        padding: 10px 20px;
        margin-bottom: 20px;
    }

    .main-section-item {
        display: flex;
        text-align: center;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 20px;
        color: #fff;
        font-size: 35px;
    }
    #level {
        width: 220px;
        height: 60px;
        border-radius: 8px;
        font-size: 24px;
        margin-top: 20px;
        border: none;
        background-color: #fff;
        outline: none;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .input-text {
        margin-bottom: 30px;
        border: none;
        border-radius: 10px;
        padding: 20px 60px;
        font-size: 40px;
        font-weight: 600;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .random-text {
        font-size: 65px;
    }
    .time {
        font-size: 30px;

    }
    .modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        width: 500px;
        height: 350px;
        border-radius: 10px;
        z-index: 100;
    }
    .again {
        display: flex;
        margin: 80px auto;
        padding: 15px 35px;
        font-size: 24px;
        font-weight: 600;
        border-radius: 5px;
    }
    .modal-section {
        display: block;
        text-align: center;
    }
    
}


 */



